.star-project {
    padding: 0 12% 160px 12%;
    display: flex;
    flex-wrap: wrap;

    .star-project-block {
        display: flex;
        margin-top: 80px;
        flex: 45% 1;

        &:nth-child(2n) {
            margin-left: 50px;
        }

        @media screen and (max-width: 1661px) {
            img {
                height: 340px;
                max-height: none !important;
            }

            &:nth-child(2n) {
                margin-left: 0;
            }
        }

        img {
            border-radius: 6px;
            height: 240px;
        }

        .intro-wrapper {
            margin-left: 40px;
            position: relative;

            .title {
                position: relative;
                font-size: 26px;
                font-weight: bold;
                min-width: 162px;

                img {
                    margin-right: 20px;
                    height: 30px;
                }
            }

            .desc {
                margin-top: 20px;
                font-size: 16px;
                max-height: 120px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
