<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <link rel="icon" href="http://uford-hsuanmr.oss-cn-hangzhou.aliyuncs.com/static/front/1.0.7/static/favicon.jpg" type="image/x-icon">
  <title>桦萱医疗美容</title>
  <script>window.routerBase = "/";</script>
</head>

<body>
  <div id="root"></div>
</body>

</html>
